.sales {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    justify-content: center;
    gap: 20px;

    .card {
        background-color: rgb(255, 255, 255);
        border-radius: 15px;
        padding: 5px;
        color: black;

        .price {
            font-size: 30px;
            font-weight: 300;
        }


        transition: .3s;
        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }
}